body
{
	font-family: 'Arial';
	background-color: #34495e;
}

.wrap
{
	position: absolute;
	width: 50%;
	overflow: hidden;
	margin: 25%;
	margin-top: 10%;
	padding: 1%;
	background: #fff;
	border: 3% solid silver;
	border-radius: 2%;
}

.wrap h2
{
	text-align: center;
	margin-bottom: 6%;
}

.flex
{
  	margin: 0 auto;
}

.flex li 
{
	display: flex;
  	flex-wrap: wrap;
  	align-items: left;
}

.flex p
{
	flex: 1 0 40%;
  	max-width: 40%;
}

.flex ul
{
	padding: 1% 1% 1% 1%;
	list-style-type: none;
}

.flex label,
.flex p {
  padding: 1% 1% 1% 1%;
  text-transform: uppercase;
}

.flex label
{
	flex: 1 0 30%;
  	max-width: 30%;
   	text-transform: uppercase;
}

.flex button
{
	padding: 1%;
	width: 40%;
	height: 30%;
	background-color: #34495e;
	color: #fff;
	border-radius: 3%;
	border: 1;
	font-size: 130%;
	margin-left: auto;
	margin-right: 6%;
}

.flex input
{
	flex : 1 0 60%;
	max-width: 60%;
	border-radius: 2%;
	margin-bottom: 1%;
	border: 3% solid silver;
	padding: 1%;
}

.back
{
	margin-top: -3%;
}

.back a
{
	text-decoration: none;
	font-size: 80%;
}

a:visited
{
	text-decoration: none;
	color: #34495e;
}

a:hover
{
	color: #000;
}