body
{
	font-family: 'Arial';
	background-color: #34495e;
}

.c
{
	position: absolute;
	left: 48%;
	top: 4%;
	color: white;
}
.wrap
{
	position: absolute;
	width: 50%;
	overflow: hidden;
	top: 10%;
	left: 25%;
	padding: 1%;
	background: #fff;
	border: thin solid silver;
	border-radius: 2%;
}

.poza
{
	padding-left: 7%;
	padding-bottom: 2%;
}

.wrap h2
{
	text-align: center;
	margin-bottom: 6%;
}

.flex
{
  	margin: 0 auto;
}

.flex li 
{
	display: flex;
  	flex-wrap: wrap;
  	padding-bottom: 3%;
}

.flex ul
{
	padding: 1% 1% 1% 1%;
	list-style-type: none;
}

.flex label{
  padding: 1% 1% 1% 1%;
  text-transform: uppercase;
}

.flex label
{
	flex: 1 0 30%;
  	max-width: 30%;
   	text-transform: uppercase;
}

.flex button:not(.poza)
{
	padding: 1%;
	width: 40%;
	height: 30%;
	background-color: #34495e;
	color: #fff;
	border-radius: 3%;
	font-size: 130%;
	margin-left: auto;
	margin-right: 6%;
}

.flex input
{
	flex : 1 0 60%;
	max-width: 60%;
	border-radius: 2%;
	margin-bottom: 1%;
	padding: 1%;
}

.back
{
	margin-top: -3%;
	padding-left: 3%;
}

.back a
{
	text-decoration: none;
	font-size: 80%;
}

a:visited
{
	text-decoration: none;
	color: #34495e;
}

a:hover
{
	color: #000;
}

@media only screen and (max-width: 1050px){
	.flex label{
  		display: none;
	}

	.flex input{
		max-width: 100%;
	}

	.flex li{
		align-items: center;
		padding-right: 10%;
		padding-bottom: 5%;
	}

	.flex button:not(.poza){
		margin-right: 0%;
	}

	.back{
		margin-top: -6%;
	}
}

@media only screen and (max-width: 731px){
	.flex button:not(.poza){
		font-size: 100%;
	}
}

@media only screen and (max-width: 700px){
	.wrap{
		width: 60%;
		left: 20%;
	}

	.back {
		margin-top: -6%;
	}
}


@media only screen and (max-width: 495px){
	.flex{
		padding-left: 10%;
	}

	.flex button:not(.poza){
		font-size: 75%;
		margin-right: 0;
	}

	.back {
		margin-top: -12%;
		padding-left: 5%;
		padding-bottom: 1%;
	}

	.back a{
		font-size: 65%;
	}
}

@media only screen and (max-width: 350px){
	.wrap h2{
		font-size: 100%;
	}

	.back a{
		font-size: 58%;
	}

	.back {
		margin-top: -13%;
	}	

	.flex button:not(.poza){
		font-size: 60%;
		margin-right: -2%;
	}
}