body
{
	font-family: 'Arial';
	background-color: #3498db;
	display: flex;
	flex-direction: column;
}

.header
{
	display: flex;
	background-color: #cce5ff;
	width: 100%;
	position: absolute; 
	left: 0%;
	top: 0;
	height: 8%;
}

.header .adminhead
{
	margin-left: auto;
}

.header ul
{
	list-style-type: none;
    overflow: hidden;
    padding-right: 2%;
}

.header ul li
{
	float: right;
	display: inline;
}

.header ul li a
{
	display: block;
	text-decoration: none;
	color: #fff;
}

.wrap
{
	display: flex;

}

.nav1
{
	display: flex;
	flex-wrap: wrap;
	position: absolute;
	top: 8%;
	left: 0;
	width: 10%;
	background: #3498db;
	border: 3% solid silver;
	padding: 1%;
	height: 100%;
}

.nav1 ul li
{
	color: #fff;
}

main
{
	display: flex;
	flex-wrap: wrap;
	flex: 0 1 50%;
	position: absolute;
	width: 86%;
	overflow: hidden;
	top: 8%;
	margin-left: 6%;
	padding: 1%;
	background: #fff;
	border: 3% solid silver;
	left: 6%;
	height: 100%;
}

ul
{
	list-style: none;
}