body
{
	font-family: 'Arial';
	background-color: #3498db;
	display: flex;
	flex-direction: column;
}

.wrap
{
	display: flex;

}

.nav1
{
	display: flex;
	flex-wrap: wrap;
	position: absolute;
	margin-top: -3%;
	margin-left: -2%;
	width: 10%;
	background: #fff;
	border: 3% solid silver;
	padding: 1%;
	height: 100%;
	
}

.nav1 .utilizatori
{
	padding: 30%;
	width: 180%;
	height: 4%;
	background-color: #3498db;
	color: #fff;
	border-radius: 3%;
	border: 1;
	font-size: 90%;
	margin-bottom: 60%;
	margin-top: 350%;
	text-align: center;
}


.nav1 .detinuti
{
	padding: 30%;
	width: 180%;
	height: 4%;
	margin-top: 4%;
	background-color: #3498db;
	color: #fff;
	border-radius: 3%;
	border: 1;
	font-size: 90%;
	margin-bottom: 60%;
	text-align: center;
}



.nav1 .statistici
{
	padding: 30%;
	width: 180%;
	height: 4%;
	margin-top: 4%;
	background-color: #3498db;
	color: #fff;
	border-radius: 3%;
	border: 1;
	font-size: 90%;
	margin-bottom: 60%;
	text-align: center;
}

.nav1 p
{
	text-overflow: 
}

main
{
	display: flex;
	flex-wrap: wrap;
	flex: 0 1 50%;
	position: absolute;
	width: 85%;
	overflow: hidden;
	margin: 25%;
	margin-top: -1%;
	margin-left: 6%;
	padding: 1%;
	background: #fff;
	border: 3% solid silver;
	left: 6%;
	height: 96%;
}

ul
{
	list-style: none;
}