body
{
	font-family: 'Arial';
	background-color: #34495e;
	display: flex;
}

.wrap
{
	display: flex;
	flex-direction: column;
}

.userheader
{
	display: flex;
	position: absolute;
	left: 0%;
	top: 0;
	margin: 0;
	
	width: 100%;
    background: #fff;   
}

.usernav
{
	margin-left: auto;
}

.usernav ul 
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.usernav li
{
	float: right;
	display: inline;
}

.usernav li a 
{
	display: block;
	padding-right: 14px;
	padding-top: 14px;
	padding-bottom: 14px;
	padding-left: 14px;
    color: black;
    text-decoration: none;
}

.usernav li a:hover
{
    background-color:grey;
}

.nav1
{
	display: flex;
	flex-wrap: wrap;
	margin-top: 5%;
	margin-left: 6%;
	width: 15%;
	background: #fff;
	border: 3% solid silver;
	padding: 1%;
	
	width: 15%;
	flex: 0 1 50%;
	position: absolute;
	top: 5%;
	text-align: center;

}

.nav1 a:link, a:visited {
    
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

main
{
	display: flex;
	flex-wrap: wrap;
	flex: 0 1 50%;
	position: absolute;
	width: 60%;
	overflow: hidden;
	margin: 25%;
	margin-top: 5%;
	padding: 1%;
	background: #fff;
	border: 3% solid silver;
	left: 1%;
	top: 5%;
}

ul
{
	list-style: none;
}

.wrapmain
{
	margin: 0 0 0 0;
	display: flex;
	flex-direction: column;
	flex-basis: 100%;
}

.wrapmain h2
{
	text-align: center;
	margin-bottom: 6%;
}

.flex
{
  	margin: 0 auto;
}

.flex li 
{
	display: flex;
  	flex-wrap: wrap;
  	align-items: left;
}

.flex p
{
	flex: 1 0 40%;
  	max-width: 40%;
}

.flex ul
{
	margin-left: auto;
	padding: 1% 1% 1% 1%;
	list-style-type: none;
}

.flex label,
.flex p {
  padding: 1% 1% 1% 1%;
}

.flex label
{
	flex: 1 0 30%;
  	max-width: 30%;
}

.flex button
{
	padding: 1%;
	width: 40%;
	height: 30%;
	background-color: #34495e;
	color: #fff;
	border-radius: 3%;
	border: 1;
	font-size: 100%;
	margin-left: auto;
	margin-right: 6%;
}

.flex input
{
	flex : 1 0 60%;
	max-width: 60%;
	border-radius: 2%;
	margin-bottom: 1%;
	border: 3% solid silver;
	padding: 1%;
}

.flex textarea
{
	flex : 1 0 60%;
	max-width: 60%;
	border-radius: 2%;
	margin-bottom: 1%;
	border: 3% solid silver;
	padding: 1%;
}

.nav1 .imagine
{
	width: 100%;
    height: auto;
    position: relative;
    left: -11%;

}

.infotable
{
	background-color: grey;
	top: -20%;
	position: relative;
	width: 100%;
}

.info
{
	padding-top: 10%;
	padding-bottom: 10%;
	width: 100%;
}