body
{
	display: flex;
}

.sidebar
{
	width: 15%;
	position: absolute;
	top: 0;
	bottom: 0;
	left:0;
	background-color: #34495e;
}

.sidebar ul li a
{
    text-decoration: none;
    color: white;
}

.sidebar .logout
{
	display: none;
}

.imagine
{
	width: auto;
    height: 100%;  
}

.title
{
	background-color: grey;
	width: 100%;
	height: 10%;
	display: flex;
	
}

.text
{
	color: white;
	font-size: 90%;
	text-transform: uppercase;
	padding-top: 5%;
	padding-left: 5%;
	display: flex;
}

.nav-item2img
{
	width: 15%;
    height: 100%;  
}

.nav-item3img
{
	width: 20%;
    height: 10%;  
}

.nav-item1img
{
	width: 15%;
    height: 10%; 	
}

.nav-item4img
{
	width: 15%;
    height: 10%; 
}

ul
{
	list-style-type: none;
}

.nav
{
	padding: 10%;
	margin-left: 4%;
	top: 10%;
	color: white;
}

.nav-item1
{
	padding-bottom: 20%;
}

.nav-item2
{
	padding-bottom: 20%;
}

.nav-item3
{
	padding-bottom: 20%;
}

.nav-item4
{
	padding-bottom: 20%;
}

.header
{
	position: absolute;
	left: 15%;
	top: 0;
	right: 0;
	height: 10%;
	border-bottom: 1px solid silver;
}

.header-logout li
{
	margin-left: 90%;

}
.header-logout a
{
	color: black;
	text-decoration: none;
	padding-top: 50%;
	padding-bottom: 28%;
	padding-right: 10%;
	padding-left: 10%;
}

.header-logout li a:hover
{
	background-color:grey;
}

.continut
{
	display: flex;
	flex: 1 0 70%;
	flex-wrap: wrap;
	flex-direction: column;
	width: 70%;
	position: absolute;
	top: 10%;
	left: 15%;
}

.optiuni
{
	padding-left: 5%;
	display: flex;
	flex-wrap: wrap;
}

.optiuni li
{
	padding-right: 2%;
	display: inline;
	padding-bottom: 0%;
}

.optiuni li a
{
	text-decoration: none;
	text-transform: uppercase;
	background-color: #6C7E8F;
	color: white;
	padding: 3% 3% 3% 3%;
	white-space: nowrap;
}

.optiuni li a:hover
{
	color: #34495e;
}

.line1
{
	display: flex;
	width: 100%;
	flex-direction: row;
	padding-left: 5%;
	padding-top: 5%;
}

.vizitatori
{
	display :flex;
	flex-direction: row;
	width: 50%;
	padding-left: 6%;
}

.vizitatori .textviz
{
	width: 100%;
	padding-left: 15%;
	padding-right: 15%;
	padding-top: 5%;
	padding-bottom: 5%;
	font-size: 115%;
	text-align: center;
	text-transform: uppercase;
	color: white;
	background-color: #34495e;
}

.vizitatori .nrviz
{
	text-align: center;
	padding-left: 5%;
	padding-right: 5%;
	font-size: 115%;
	color: white;
	width: 100%;
	background-color: #6C7E8F;
}

.statisticsid
{
	width: 100%;
	display :flex;
	flex-direction: row;
	padding-left: 5%;
	padding-top: 2%;
}

#IDsearch
{
	padding-right: 10%;
}

.graphs
{
	display: flex;
	width: 60%;
	padding-top: 2%;
	padding-left: 1%;
}

.img1
{
	width: 100%;
	height: 100%;
}

.img2
{
	width: 100%;
	height: 100%;
}

@media only screen and (max-width: 1250px) {
	.optiuni li
	{
		padding-bottom: 3%;
	}

	.optiuni li a
	{
		font-size: 80%;
	}

	.title, .header
	{
		height: 9%;
	}

	.nav, .continut
	{
		top: 9%;
	}

	.text
	{
		font-size: 70%;
	}
}

@media only screen and (max-width: 900px) {
	.title, .header
	{
		height: 8%;
	}

	.nav, .continut
	{
		top: 8%;
	}

	.optiuni
	{
		flex-wrap: wrap;
	}

	.optiuni li
	{
		padding-top: 1%;
	}

	.optiuni li a
	{
		font-size: 70%;
		padding: 2% 2% 2% 2%;
	}

	

	.vizitatori .textviz
	{
		text-align: center;
		padding-top: 15%;
	}
}

@media screen and (max-width: 750px){
    .title
    {
    	display: none;
    }

    .sidebar 
    {
        width: 100%;
        height: 10%;
        right: 0;
        left: 0;
        position: absolute;
    }

    .nav
    {
    	padding: 0;
		top: 0;
		color: white;
    }

    .header
    {
    	display: none;
    }

    .sidebar ul
    {
    	display: flex;
    	justify-content: space-around;
    	padding-right: 5%;
    }

    .sidebar ul li {
        float: left;
        top: 0;
        padding-bottom: 0;
        padding-left: 3%;
        padding-right: 3%;
    }
    
    .sidebar ul li a
    {
    	text-decoration: none;
    	color: white;
    }

    .sidebar ul li img
    {
    	display: none;
    }

    .sidebar .logout
	{
		display: block;
	}


    .continut
    {
    	left: 0;
    	width: 75%;
    	top: 10%;
    	padding-left: 2%;
    }
}

@media only screen and (max-width: 650px) {
	.sidebar ul li a
	{
		font-size: 80%;
	}

	.continut
	{
		align-items: center;
	}

	.line1
	{
		padding-top: 5%;
		width: 80%;
		display: flex;
		flex-direction: column;
	}

	.line1 .vizitatori
	{
		align-self: center;
	}

	.vizitatori .textviz, .numviz
	{
		font-size: 100%;
	}

	.line1 .vizitatori .textviz
	{
		padding-top: 10%;
	}

	.statisticsid
	{
		padding-top: 5%;
		padding-left: 5%;
	}

	.graphs
	{
		padding-top: 2%;
		padding-left: 10%;
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		width: 78%;
	}

	.optiuni
	{
    	flex-direction: column;
    }

    .optiuni li
    {
    	padding-bottom: 5%;
    }

    .optiuni li a
    {
    	font-size: 100%;
    }
}

@media only screen and (max-width: 480px){
	.sidebar{
		height: 30%;
		position: absolute;
		text-align: center;
	}

	.sidebar ul
	{
		display: flex;
		flex-direction: column;
		height: 100%;
		margin-top: 1%;
	}

	.sidebar ul li {
		height: 100%;
        float: none;
        padding-top: 1%;
        padding-bottom: 1%;
    }

	.sidebar ul li a
	{
		font-size: 100%;
	}

    .sidebar ul li a:hover
    {
    	color: grey;
    }

    .continut{
    	top: 30%;
    	width: 90%;
    }

    .statisticsid{
    	flex-direction: column;
    }

    #IDsearch{
    	padding-bottom: 5%; 
    }
}